<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestionnaireBibliotheque.BlazorWasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Accueil (Emprunts)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auteurs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Auteurs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="membres">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Membres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ouvrages">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ouvrages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="penalites">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pénalités
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
